# Tuples

The main difference between List and Tuples are....... tuples are immutable and list are mutable.

syntax:- 

a = (1,2)

In [5]:
# syntax to create tuple
a = (1,2)
b = 3,4
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [6]:
#list
a = [1,2]
a[-1]

2

In [7]:
# tuple
a = 1,2
a[-1]

2

In [8]:
b[1] = 5

TypeError: 'tuple' object does not support item assignment

In [9]:
a = 1,2,3
b = 4,5

In [10]:
for i in a:
    print(i)

1
2
3

In [11]:
1 in a

True

In [12]:
4 in a

False

In [13]:
len(a)

3

In [15]:
c = a+b
c

(1, 2, 3, 4, 5)

In [16]:
# tuple of tuples
d = (a,b)
d

((1, 2, 3), (4, 5))

In [17]:
a*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
min(a)

1

In [19]:
max(b)

5

In [20]:
a2 = 1,2,'ac',5

In [22]:
max(a2)

#can copare only in homogenious or comparable things

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
#list to tuple
l = [1,2,3,4]
l = tuple(l)
l

(1, 2, 3, 4)

In [28]:
# Variable length input function

def sum(a,b,*more):
    print(a)
    print(b)
    print(more)

#     return a+b

In [29]:
sum(1,2,4,5)

1
2
(4, 5)

# Dictionary
Amy type of value and key you can store....and these are mutable in nature.

syntax :-
    a = {'a':1,2:3}

In [33]:
a = {'a':1,2:3}

type(a)
a

{'a': 1, 2: 3}

In [34]:
b = a.copy()

In [35]:
b

{'a': 1, 2: 3}

In [40]:
c= dict([(1,2),('a',34)])
c

{1: 2, 'a': 34}

In [43]:
# Created dictionary with none values
d = dict.fromkeys(['abc',3,4])
d

{'abc': None, 3: None, 4: None}

In [45]:
a = ['a',2]

In [46]:
#create dictionary having different keys with same value
d = dict.fromkeys(['abc',3,4],10)
d

{'abc': 10, 3: 10, 4: 10}

In [47]:
d.get('abc')

10

In [49]:
d['abc']
#if value not exist for particular key then by default it will show None

10

In [51]:
d.get(3,90)
# second parameter is default value if value not exist for particular key

10

In [52]:
d.keys()

dict_keys(['abc', 3, 4])

In [53]:
d.values()

dict_values([10, 10, 10])

In [54]:
d.items()

dict_items([('abc', 10), (3, 10), (4, 10)])

In [55]:
'abc' in d

True

In [56]:
for i in d:
    print(i, d[i])

abc 10
3 10
4 10

In [57]:
# to add element in the dictionary
d['list'] = [1,2,3]
d

{'abc': 10, 3: 10, 4: 10, 'list': [1, 2, 3]}

In [59]:
# to update
d[4] = 29
d

{'abc': 10, 3: 10, 4: 29, 'list': [1, 2, 3]}

In [60]:
c= dict([(3,1),('cd',12)])

In [62]:
print(d)
print(c)
#updated d 
d.update(c)
d

{'abc': 10, 3: 1, 4: 29, 'list': [1, 2, 3], 'cd': 12}
{3: 1, 'cd': 12}

{'abc': 10, 3: 1, 4: 29, 'list': [1, 2, 3], 'cd': 12}

In [65]:
d.pop('cd')
d

{'abc': 10, 4: 29, 'list': [1, 2, 3]}

In [66]:
d.clear()

In [67]:
d

{}

In [68]:
del d

In [69]:
d

NameError: name 'd' is not defined

# Highest frequency number

You are given an array of integers that contain numbers in random order. Write a program to find and return the number which occurs the maximum times in the given input.
If two or more elements contend for the maximum frequency, return the element which occurs in the array first.

In [70]:
def most_frequent(L):
    d={}
    for key in L:
        d[key]=d.get(key,0)+1
    m = 0
    for key in d:
        if(d[key]>m):
            m=d[key]
    for ele in L:
        if d[ele]==m:
            return ele
        
n=int(input())
List =list(int(i) for i in input().strip().split(' '))
print(most_frequent(List))

13
2 12 2 11 12 2 1 2 2 11 12 2 6
2

# Maximum Distance

Given an array that might contain duplicate elements, find the maximum possible distance between occurrences of two repeating elements i.e. elements having same value. If there are no duplicate elements in the array, return 0


Sample Output Explanation :
arr = [1, 3, 1, 4, 5, 6, 4, 8, 3];

    index0 = 1
    index1 = 3
    index2 = 1
    index3 = 4
    index4 = 5
    index5 = 6
    index6 = 4
    index7 = 8
    index8 = 3

    In the above array, the repeating elements are :- (1, 3, 4)
    - Distance bw first and last occurence of 1 = 2(index2 - index0)
    - Distance bw first and last occurence of 3 = 7(index8 - index1)
    - Distance bw first and last occurence of 4 = 3(index6 - index3)

    So, for the above array you must return 7, as this is maximum possible distance between two repeating elements having same value.

In [71]:

n=int(input())
li=[int(ele) for ele in input().split()]
d={}
for i in range(len(li)):
    value=li[i]
    if value in d:
        d[value].append(i)
    else:
        d[value]=[i]
max=0
#print(d)
for ele in d:
    x=d[ele]
    if len(x)>1:
        diff=x[-1]-x[0]
        if diff>max:
            max=diff
            
            
print(max)

9
1  3  1  4  5  6  4  8  3
7

# Sets
It does not support indexing  and it only holds the keys not value.1

syntax:-
    a = {'abc',23}

In [73]:
 a = {'apple',23}

In [74]:
type(a)

set

In [75]:
23 in a

True

In [76]:
len(a)

2

In [77]:
a.add('hello')

In [78]:
a

{23, 'apple', 'hello'}

In [79]:
b= {'abc','def'}

In [80]:
a.update(b)
a

{23, 'abc', 'apple', 'def', 'hello'}

In [81]:
a.remove(23)
a

{'abc', 'apple', 'def', 'hello'}

In [82]:
a.discard('abc')
a

{'apple', 'def', 'hello'}

In [83]:
a.discard('sss')
#it will not show any error if key not exist in the sets

In [84]:
a

{'apple', 'def', 'hello'}

In [85]:
a.pop()
a

{'apple', 'def'}

In [86]:
b = {'apple', 'def','cef'}

In [87]:
a-b

set()

In [88]:
print(a-b)

set()

In [89]:
a.add('def')

In [90]:
a

{'apple', 'def'}

# Make Unique Array

Find number of elements to be removed to make an array of all distinct elements.
Example:

    Ar = {2,1,4,2,1} 
    output = 2 (remove 2 and 1).

In [91]:
def duplicateCount(arr):
    arr1 = set()
    
    for i in arr:
        arr1.add(i)
    result = len(arr)-len(arr1)
    return result
    

# Main
n=int(input())
arr=list(int(i) for i in input().strip().split(' '))
print(duplicateCount(arr))

10
1 0 4 0 1 2 2 3 2 5
4

# First non repeating character

In a given string, find the first non-repeating character .You are given a string, that can contain repeating characters. Your task is to return the first character in this string that does not repeat. i.e., occurs exactly once. The string will contain characters only from English alphabet set, i.e., ('A' - 'Z') and ('a' - 'z'). If there is no non-repeating character print the first character of string.

In [95]:
s = input()
while s != "":
    slen0 = len(s)
    ch = s[0]
    s = s.replace(ch, "")
    slen1 = len(s)
    print(slen0,slen1,ch)
    if slen1 == slen0-1:
        print (ch)
        break;

ababab
6 3 a
3 0 b

# Different Names

In Little Flowers Public School, there are many students with same first names. You are given a task to find the students with same names. You will be given a string comprising of all the names of students and you have to tell the name and count of those students having same. If all the names are unique, print -1 instead.

Note: We don't have to mention names whose frequency is 1.

Input Format:
The only line of input will have a string ‘str’ with space separated first names of students.

In [101]:
def differentNames(l):
    # Please add your code here
    d ={}
    for i in l:
        d[i] = d.get(i,0)+1
    return d

# Main
names=input().strip().split()
m=differentNames(names)
count = 0
for name in m:
    if m[name] >1:
        count = 1
        print(name, m[name])
# print(count)       
if count ==0:
    print(-1)

Abhishek harshit Ayush harshit Ayush Iti Deepak Ayush Iti
harshit 2
Ayush 3
Iti 2

# Even Count

You are provided with an integer array where each number is present either odd number of times or even number of times. You have to find and return the number which is present even number of times.
If multiple numbers are present even number of times, then return that number which occurs first among these numbers in the given array. If no such number exists, then return -1.

Note : You may take extra space but solve this problem in O(n) time.

Input Format:
    
Line 1 : An Integer N i.e. size of array 
    
Line 2 : N integers which are elements of the array, separated by spaces

In [102]:
def evenCount(arr):
    d = {}
    for i in arr:
        d[i] = d.get(i,0)+1
        # print(d)
    for i in arr:
        # print(i)
        if d[i] %2 == 0:
            return i
        
    return -1 
        

# Main
n=int(input())
arr=list(int(i) for i in input().strip().split(' '))
print(evenCount(arr))

6
2 5 3 5 3 4
5

# Unique triangles

You are given n triangles. You are required to find how many triangles are unique out of given triangles. For each triangle you are given three integers a, b and c (the sides of a triangle).

A triangle is said to be unique if there is no other triangle with same set of sides.

Note : It is always possible to form triangle with given sides.

Input Constraints :

Line 1 : Integer n, the number of triangles

Next n lines : Three integers a,b,c (sides of a triangle).

Output Format :

print single integer, the number of unique triangles.

In [103]:
def uniqueTriangle(arr):
    d = {}
    count = 0
    for i in arr:
        i.sort()
        s = [str(j) for j in i] 
        key = int("".join(s))
        d[key] = d.get(key,0)+1
    
    for i in d:
        if d[i] == 1:
            count +=1
    print(count)
    
n = int(input())
arr = []
for i in range(n):
    l = [int(i) for i in input().strip().split(' ')]
    arr.append(l)
    
    
uniqueTriangle(arr)

6
34 5 32
15 20 6
4 2 3
5 6 9
15 20 6
34 5 32
2